<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <h3 class="mb-3">新增餐廳</h3>
      <form class="mb-5" action="/restaurants" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name" class="form-label">餐廳中文名稱<span class="field-required">＊</span></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="請輸入餐廳名稱" required>
          </div>
          <div class="form-group col-md-6">
            <label for="name_en" class="form-label">餐廳英文名稱</label>
            <input type="text" class="form-control" id="name_en" name="name_en" placeholder="例如：Sara Pita">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="restaurant_id" class="form-label">餐廳評分</label>
            <input type="text" class="form-control" id="restaurant_id" name="rating" placeholder="例如：4.2">
          </div>
          <div class="form-group col-md-4">
            <label for="category" class="form-label">餐廳類別<span class="field-required">＊</span>
            </label>
            <input type="text" class="form-control" id="category" name="category" placeholder="例如：中東料理、日本料理" required>
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">餐廳電話</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="02 1234 5678">

          </div>
        </div>

        <div class="form-group">
          <label for="location" class="form-label">餐廳地址<span class="field-required">＊</span>
          </label>
          <input type="text" class="form-control" id="location" name="location" placeholder="請輸入餐廳地址" required>
        </div>
        <div class="form-group">
          <label for="google_map" class="form-label">Google Map 網址</label>
          <input type="url" class="form-control" id="google_map" name="google_map" placeholder="https://">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="description" class="form-label">餐廳介紹</label>
            <textarea class="form-control" id="description" name="description" rows="4"
              placeholder="餐廳的特色...等"></textarea>
          </div>
          <div class="form-group col-md-6">
            <label for="image" class="form-label">餐廳圖片網址</label>
            <textarea class="form-control" id="image" name="image" rows="4" placeholder="請輸入圖片網址"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">送出</button>
        <a href="/" class="btn btn-link">返回首頁</a>
      </form>

    </div>
  </div>
</div>